@import "tailwindcss";

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-transparent: rgba(255, 255, 255, 0.5);
  --color-primary: #030412;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-indigo: #1f1e39;
  --color-storm: #282b4b;
}

/* navbar component */
nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 24px 0px 24px;
  color: white;
  width: 100%;
  z-index: 24;
}

#nav-center {
  width: 40%;
}

div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

div ul li {
  padding: 16px 16px 16px 16px;
  font-weight: 500;
}

#nav-left {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 500;
}

#nav-right {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 500;
}

/* home component */

#bg-image {
  width: 100%;
  height: 60vh;
  background-image: url("public/assets/taipei-day.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}